{% load static %}

<header id="header" class="header">
    <div class="header__wrapper">
        <nav class="header__wrapper--nav">
            <div class="header__wrapper--nav-logo">
                <span class="header__wrapper--nav-logo">Handylinks</span>
            </div>

            <ul class="header__wrapper--nav-ul">
                {% if loged %}
                    <button class="header__wrapper--nav--ul-button">
                        <span class="header__wrapper--nav--ul-button-span">Add</span>
                        <img class="header__wrapper--nav--ul-button-icon" src="{% static 'media/img/down-arrow-5-svgrepo-com.svg' %}" alt="down arrow">
                    </button>
                    <div class="header__wrapper--nav--ul-dropdown">
                        <ul class="header__wrapper--nav--ul-dropdown-menu">
                            <li class="header__wrapper--nav--ul-dropdown-menu-link"><span class="header__wrapper--nav--ul-dropdown-menu-link-text">Link</span></li>
                            <li class="header__wrapper--nav--ul-dropdown-menu-link"><span class="header__wrapper--nav--ul-dropdown-menu-link-text">Folder</span></li>
                        </ul>
                    </div>
                {% endif %}
            </ul>
        </nav>
        {% if loged %}
            <div class="header__wrapper--div">
                <div class="header__wrapper--div-search">
                    <form action="" class="header__wrapper--div-search-form">
                        <input type="text" autocomplete="off" class="header__wrapper--div-search-form--input"
                               placeholder="Search">
                    </form>

                </div>
                <div class="header__wrapper--div-icons">
                    <img src="{% static 'media/img/settings-svgrepo-com.svg' %}" alt="" height="100px" width="100px">
                    <img src="{{ user.avatar }}" alt="" height="100px" width="100px">
                </div>
            </div>
        {% endif %}

    </div>


</header>