{% extends "base.html" %}
{% load links_tags %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% include 'partials/_header.html' with loged=True %}
    <main>
        <section class="personal_folders">
            <div class="personal_folders__wrapper">
                <div class="personal_folders__wrapper--header">
                    <h3 class="personal_folders__wrapper--header-element">My Folders</h3>
                    <span class="personal_folders__wrapper--header-element">
                        <img class=""
                             src="{% static 'media/img/add-svgrepo-com.svg' %}" alt="Add folder" height="20px"
                             width="20px">
                    </span>


                    <a class="personal_folders__wrapper--header-element" href="">View All</a>
                </div>
                <div class="personal_folders__wrapper--folders">

                    {% for folder in personal_folders %}
                        <a href="#" class="personal_folders__wrapper--folders-folder">
                        <div class="personal_folders__wrapper--folders-folder--top">

                        </div>

                        <div class="personal_folders__wrapper--folders--info-ctn">
                            <div class="personal_folders__wrapper--folders--info-ctn--img">
                                <img src="https://placehold.co/100x100/58afe0/FFF?text=%3Ca%3E" alt="Folder Image">
                            </div>

                            <div class="personal_folders__wrapper--folders--info-ctn--main" id="folderMainInfo">
                                <span class="personal_folders__wrapper--folders--info-ctn--main--title">{{ folder.title|truncatechars:21 }} </span>
                                {% if folder.public %}
                                    <img class="personal_folders__wrapper--folders--info-ctn--main--icon" src="{% static 'media/img/world-svgrepo-com.svg' %}" alt="">
                                    <span class="personal_folders__wrapper--folders--info-ctn--main--folder-visibility" id="manipulate">Public Folder</span>
                                {% else %}
                                    <img class="personal_folders__wrapper--folders--info-ctn--main--icon" src="{% static 'media/img/padlock-outlined-svgrepo-com.svg' %}" alt="">
                                    <span class="personal_folders__wrapper--folders--info-ctn--main--folder-visibility" id="manipulate">Private Folder</span>
                                {% endif %}
                            </div>

                            <span class="personal_folders__wrapper--folders--info-ctn--description"> {{ folder.get_link_qty|pluralize_links }}  </span>
                        </div>

                    </a>
                    {% endfor %}

                </div>
            </div>

        </section>
    </main>

{% endblock %}

{% block extrajs %}
    <script>

    document.addEventListener('DOMContentLoaded', () =>{
        let divFolderMainInfo = document.querySelectorAll('#folderMainInfo');

        divFolderMainInfo.forEach(element =>{
            let image = element.querySelector('img');
            image.addEventListener('mouseenter', () => element.querySelector('#manipulate').style.display='block');
            image.addEventListener('mouseleave', () => element.querySelector('#manipulate').style.display='none');
        })
    })

    </script>
{% endblock %}


