{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Register
{% endblock %}

{% block content %}

    {% block header %}
        {% include 'partials/_header.html' %}
    {% endblock %}

    <section class="register">

        <div class="register__wrapper">
            <div class="register__wrapper--ctn">
                <div class="register__wrapper--ctn-header">
                    <h1> Register </h1>
                    <span> Having an account? <a href="{% url 'login' %}"> Sign In </a> </span>
                </div>
                <div class="register__wrapper--ctn-middle">
                    <form class="register__wrapper--ctn-middle--form" method="POST">
                        {% csrf_token %}
                        <div class="register__wrapper--ctn-middle--form--container">
                            {% if form.username.errors %}
                                <div class="error-message">
                                    {{ form.username.errors|striptags }}
                                </div>
                            {% endif %}
                            {% render_field form.username placeholder="Username" name="username" class="register__wrapper--ctn-middle--form--container-input text-input" %}

                        </div>

                        <div class="register__wrapper--ctn-middle--form--container">
                            {% if form.email.errors %}
                                <div class="error-message">
                                    {{ form.email.errors|striptags }}
                                </div>
                            {% endif %}
                            {% render_field form.email placeholder="Email" class="register__wrapper--ctn-middle--form--container-input text-input" %}

                        </div>

                        <div class="register__wrapper--ctn-middle--form--container">
                            {% if form.password.errors %}
                                <div class="error-message">
                                    {{ form.password.errors|striptags }}
                                </div>
                            {% endif %}
                            {% render_field form.password placeholder="Password" class="register__wrapper--ctn-middle--form--container-input text-input" %}

                        </div>

                        <div class="register__wrapper--ctn-middle--form--container">
                            {% if form.confirmation.errors %}
                                <div class="error-message">
                                    {{ form.confirmation.errors|striptags }}
                                </div>
                            {% endif %}
                            {% render_field form.confirmation placeholder="Confirmation" class="register__wrapper--ctn-middle--form--container-input text-input" %}

                        </div>


                        <div class="register__wrapper--ctn-middle--form--container-v2">
                            <input type="submit" value="Sign In"
                                   class="register__wrapper--ctn-middle--form--container-v2-submit">
                        </div>

                    </form>

                </div>


            </div>


        </div>

    </section>


{% endblock %}



{% load widget_tweaks %}

